$primary:       #023845;
$secondary:     #61cbc8;
$tertiary:      #64c6c1;


.dashboard-banner-chart {
	visibility: hidden !important;
}
.dashboard-banner-chart-legend {
	visibility: hidden !important;
}